footer.footer
	.container 
		.footer__box 
			.logo 
				img.logo__img(src="img/logo.svg", alt="@")
				.logo__text 
					b.logo__name.logo__name--white Хрустальный конек
					span.logo__info.logo__info--white Спортивная школа по #[br] фигурному катанию
			.footer__links 
				a(href="#") Пользавательское соглашение
				a(href="#") Политика конфиденциальности
			.dev 
				span.dev__text Создание сайта
				a.dev__logo(href="") 
					img(src="img/scrum-logo.png", alt="@")