-
	const list = [
		'Фигурное катание помогает развивать баланс, гибкость, силу, выносливость, координацию движений и быстроту реакции',
		'Занятия фигурным катанием способствуют развитию концентрации внимания, настойчивости, самодисциплины и уверенности в себе',
		'Фигурное катание помогает формировать хороший вкус, эстетическое чувство и восприятие прекрасного',
		'Занятия фигурным катанием способствуют улучшению коммуникативных навыков, знакомству с разнообразными людьми, а также развитию чувства коллективизма и умения работать в команде'
	]

section.record.record2
	.container 
		.record__box 
			.record__content 
				h6.record2__title Запишитесь #[br] на #[b.record2__title--blue бесплатное #[br] занятие] в школе
				ul.record__list
					each item in list 
						li.record__li= item
			.record__form.record__form--2 
				include ./../layouts/_form.pug