section.target#about 
	.container 
		.target__box
			h6.title.target__title #[b Главная задача] нашей школы
			p.target__text Фигурное катание является одним из самых красивых и популярных видов спорта, поэтому неудивительно, что количество желающих записаться в клуб фигурного катания с каждым сезоном растет.Школа фигурного катания «Хрустальный конек» приглашает детей и взрослых в спортивные и оздоровительные группы, а также на занятия в выходные дни, обучение в которых поможет укрепить здоровье и обрести увлекательное хобби на всю жизнь. Записавшись в наш спортивный клуб, вы получите следующие преимущества:
			ul.target__list 
				each item in ['профессионализм и опыт тренерского состава: среди ваших учителей будут талантливые выпускники спортивных вузов, мастера спорта, действующие судьи','удобное расписание занятий, которое без труда удастся встроить в учебный или рабочий график','пять ледовых площадок для занятий в разных уголках Москвы, чтобы вы могли выбрать оптимальное место – «Молодежка», «МСА Лужники», «Спорт Станция», «Буревестник»','возможность приобрести абонемент на занятия по доступной стоимости и докатывать пропущенные уроки бесплатно на любой из площадок клуба']
					li.target__li= item
			button.button.target__button Записаться на занятие